.accounts-table-top{
    max-width: 80vw;
    min-height: 3vw;
    background-color: #5c876e;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius:  10px 10px 0 0;
}

.accounts-table li{
    border-bottom: 1px solid #5c876e;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts-table li p{
    padding: 1vw 2vw;
    width: 100%;
    max-height: 2.5vw;
    text-align: center;
    line-height: 1.2vw;
}

.accounts-table{
    list-style: none;
    padding: 0;
}